<%= form_with(model: user) do |form| %>
<%# if necessary copy and paste from _form.html.erb %>

  <div>
    <%= form.label :points, style: "display: block" %>
    <%= form.number_field :points %>
  </div>



  <div>
    <%= form.submit %>
  </div>
<% end %>
