<div id="<%= dom_id user %>">
  <p>
    <strong>Payer:</strong>
    <%= user.payer %>
  </p>

  <p>
    <strong>Points:</strong>
    <%= user.points %>
  </p>

  <p>
    <strong>Timestamp:</strong>
    <%= user.timestamp %>
  </p>

</div>
