<h1>Spend Points</h1>

<%= render "spendform", user: @user %>

<br>

<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
    <p>
      <%= link_to "Show this user", user %>
    </p>
  <% end %>
</div>

<div>
  <%= link_to "Back to users", users_path %>
</div>
